<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>View Complain</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="../index.css">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="style.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="../index.css">

<style>

body {
    background-color: #eee!important;
}
  /* For table */
  .table-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-table {
  border-collapse: collapse;
  width: 100%;
}

.centered-table th,
.centered-table td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}
</style>

</head>
<body>
<section class="navigation">
  <div class="nav-container" style="max-width:95%;">
    <div class="brand" style="padding:0px">
      <a href="#">Hostel Management System</a>
    </div>
    <nav>
      <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
    </nav>
  </div>
</section>

<div class="sidenav">
<a href="/wardenDashboard">Warden's Dashboard</a>
<a href="#" class="active">View Complaints</a>
<a href="#">View Student's in Hostel</a>
<a href="#">Add Notice</a>
<a href="#">Notice Board</a>
<a href="#">Allot Rooms to students</a>
</div>



<main>
<article style="max-width:90%;">
  <h2>COMPLAIN LIST</h2>
  <div class="table-container">
    <table class="centered-table">
      <thead>
        <tr>
          <th>Complain logged on:</th>
          <th>Room Number</th>
          <th>Problem Place</th>
          <th>Problem</th>
          <th>Student Name</th>
          <th>Phone no. of Student</th>
          <th>Attachments</th>
          <th>Staff Assigned</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <%  data.forEach((data)=>{  %>
          <tr>
            <td><%= data.date %></td>
            <td><%= data.roomtemp %></td>
            <td><%=data.type%> Room</td>
            <td><%=data.problem%></td>
            <td><%=data.student.name%></td>
            <td><%= data.student.mobileNo %></td>
            <!-- <td>
              <% if(data.studentResolved==false){ %>
                <form action="/studentResolved/<%= data._id %>" method="POST">
                    <button type="submit">Resolve problem</button><br>
                </form>
              <% }else{ %>
                <b>Problem Resolved</b><br>
              <% } %>
            </td>
            <td>
              <% if(data.studentResolved==false){ %>
                <b>Not Resolved</b>
              <% }else{ %>
                <b> Problem Resolved</b>
              <% } %>
            </td>
            <td> -->
            <td>
              <%if(data.Attachments){%>
                Yes
              <%}else{%>
                No attachments
              <%}%>
            </td>
            <td>
              <%if(data.staff){%>
                <%=data.staff.name%> (Contact no.- <%=data.staff.mobileNo%>)
              <%}else{%>
                Not assigned
              <%}%>
            </td>
            <td>
              <% if(data.resolved){ %>
                Resolved
              <% }else{ %>
                In Process
              <% } %>
            </td>
            <td>  
              <a href="/complains/<%= data._id %>" ><button style="width: 100%;">View Details</button></a><br>   
            </td>
          </tr>
      <% }) %>
        
      </tbody>
    </table>
  </div>
</article>
</main>

<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="./indexScript.js"></script>

<script>
  // Get all links inside the side navigation menu
  var sidenavLinks = document.querySelectorAll('.sidenav a');
  
  // Loop through each link and add an event listener
  sidenavLinks.forEach(function(link) {
  link.addEventListener('click', function() {
  // Remove the 'active' class from all links
  sidenavLinks.forEach(function(link) {
  link.classList.remove('active');
  });
  
  // Add the 'active' class to the clicked link
  this.classList.add('active');
  });
  });
  </script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="../indexScript.js"></script>
  
  
  <!--Bootstrap-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="../indexScript.js"></script>

</body>
</html>

<!-- <%= data %> -->